@font-face {
  font-family: death;
  src: url(font/MB-GothicDawn_Font.ttf);
}








* {
  box-sizing: border-box;
}
 
body{
  
  font-family: death; 
  color: rgb(240, 152, 248) ;
  background-image:  url(background/kaos03.jpg);
  background-attachment: fixed;
  background-size: auto;
  /*text-shadow: 3px 3px   #000000;*/
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;

}

nav {
  background-color:#fa0000 ;
  color: rgb(240, 152, 248) ;
  display: flex;
  justify-content:  flex-end;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
}

nav a {
  font-size: 20px;
  color: rgb(240, 152, 248);
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: none;
text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;}

nav a:hover{
  text-decoration: underline;
}









header{
  height: 100vh;
  text-align: center;
  position: relative; 
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column; 
}

header h1 { 
  font-size: 130px;
  margin-bottom: 10px;
}

header p {
  font-size: 26px;
  margin: 0;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 0;
  
}

#bio{
  font-size: 25px;
  margin: 0;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
  text-align: center;
  
  
  
}

#bio:hover {
font-size: 22px;
font-family: "Lucida Console", "Courier New", monospace;
text-decoration: none;
text-shadow: none;
background-color:rgba(255, 0, 0, 0.586) ;
}



.sounds-containers{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 20px auto 0;

}


.project-tile {
  margin: 10px;
  max-width: 200px;
  text-decoration: none;
  transition: transform 0.3s ease;
  

}

.project-tile:hover {
  transform: scale(1.1);
}







h2 {
  padding-top: 70px; 
  padding-bottom: 70px;
  font-size: 50px;
  height: 10vh;
  margin-top: 150px;
  ;
  
}

.projects-containers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 20px auto 0; 
  
}






section {
  text-align: center;
}


.find{
  font-size: 40px;
  justify-content: center;
}




.social-links{
  
  text-decoration:none;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}





.social-links a {
  color: rgb(240, 152, 248) ;
  font-size: 30px;
  margin: 0 10px;
  display: inline-block;
  
}

.links-shows {
  justify-content: center;
  list-style-type: none;
  letter-spacing: 3px;
  font-size: 26px;
  color: rgb(240, 152, 248) ;
  text-decoration: none;
 
}

.links-shows a{
  list-style: none;
  letter-spacing: 3px;
  font-size: 26px;
  color: rgb(240, 152, 248) ;
  text-decoration: none;
 
}

.photo-ggg {
  width: 943.5
}


footer {
  background-color:#fa0000;
  font-size: 25px;
  padding: 10px;
  text-align: center; 
  position: relative; 
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}




