@font-face {
  font-family: death;
  src: url(font/MB-GothicDawn_Font.ttf);
}








* {
  box-sizing: border-box;
}
 
body{
  
  font-family: death; 
  color: rgb(240, 152, 248) ;
  background-image: url("https://scontent.ftxl2-1.fna.fbcdn.net/v/t39.30808-6/243854289_10228906957644697_4091110774674964043_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=19026a&_nc_ohc=mroRnGVmns4AX-WupRo&tn=vg8IVxejVenxxoXO&_nc_ht=scontent.ftxl2-1.fna&oh=544ed769c92915b10fba9d5104d3f051&oe=61635F72");
  background-attachment: fixed;
  background-size: cover;
  /*text-shadow: 3px 3px   #000000;*/
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

nav {
  background-color:#fa0000 ;
  color: rgb(240, 152, 248) ;
  display: flex;
  justify-content:  flex-end;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
}

nav a {
  font-size: 20px;
  color: rgb(240, 152, 248);
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: none;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

nav a:hover{
  text-decoration: underline;
}









header{
  height: 100vh;
  text-align: center;
  position: relative; 
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column; 
}

header h1 { 
  font-size: 130px;
  margin-bottom: 10px;
}

header p {
  font-size: 26px;
  margin: 0;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 0;
  
  
  
  
}

.sounds-containers{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 20px auto 0;

}


.project-tile {
  margin: 10px;
  max-width: 200px;
  text-decoration: none;
  transition: transform 0.3s ease;
  

}

.project-tile:hover {
  transform: scale(1.1);
}







h2 {
  padding-top: 70px; 
  padding-bottom: 70px;
  font-size: 50px;
  height: 10vh;
  margin-top: 150px;
  
}

.projects-containers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 20px auto 0; 
  
}






section {
  text-align: center;
}


.find{
  font-size: 40px;
}



.social-links{
  
  text-decoration:none;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.social-links a {
  color: rgb(240, 152, 248) ;
  font-size: 30px;
  margin: 0 10px;
  display: inline-block;
}









footer {
  background-color:#fa0000;
  font-size: 25px;
  padding: 10px;
  text-align: center; 
  position: relative; 
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}



